/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Navigation TODO: should use Tabs, but they are autofocusing on render */
.bamboo-nav {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

/* Navigation 2.0 sidebar attempt TODO: remove currently not needed */
.Page-Wrapper__Bamboo {
  display: inline-flex;
}
.Page-Wrapper__Bamboo .Polaris-Page:nth-child(2) {
  padding-left: 232px;
  padding-left: calc(200px + 3.2rem);
}
.Side-Nav__Bamboo {
  width: 200px;
  border-right: 1px solid #dfe4e8;
  padding-top: 20px;
  position: fixed;
  height: 100%;
}

/* Dashboard */
.upcomingSubscriptions .Polaris-ResourceList__AttributeOne, .upcomingSubscriptions .Polaris-ResourceList__AttributeTwo {
  flex: 0.4;
}
.upcomingSubscriptions thead tr {
  display: flex;
  cursor: default;
}
.upcomingSubscriptions thead tr th {
  flex: 1;
  cursor: default;
}
.pendingShippingOrders .Polaris-ResourceList__AttributeOne, .pendingShippingOrders .Polaris-ResourceList__AttributeTwo {
  flex: 0.36;
}
.pendingShippingOrders .Polaris-ResourceList__Badge {
  flex: 0.28;
}
.pendingShippingOrders .Polaris-ResourceList__AttributeThree {
  flex: 0.2;
}
.pendingShippingOrders thead tr {
  display: flex;
  cursor: default;
}
.pendingShippingOrders thead tr th {
  flex: 1;
  cursor: default;
}

.dashboard-card-primary .Polaris-Card {
  color: #5C6AC4;
  text-align: center;
}
/*.dashboard-card-primary .Polaris-Card:first-child {
  background-color: #F4F5FA;
}*/

.date {
  /*background-color: #F4F5FA;*/
}
.date h5 {
  text-align: center;
  font-size: 24px;
}
.date h5:first-of-type {
  background-color: #B3BCF5;
  font-size: 1.5rem;
  color: #FFF;
  padding: 4px 0;
  text-transform: uppercase;
}

.date h5:nth-of-type(2) {
  font-size: 25px;
  margin-top: 15px;
  font-weight: bold;
}

.date h5:last-of-type {
  font-size: 15px;
  margin-top: 15px;
  padding-bottom: 10px;
}

.revenue h5 {
  font-size: 24px;
  margin-top: 15px;
  color: #173630;
}

.delivery-wrapper .Polaris-Card {
  color: #5C6AC4;
  font-weight: bold;
  margin-top: 15px;
}
.delivery-wrapper .Polaris-Heading {
  display: table-caption;
  text-align: center;
}

.delivery-wrapper .Polaris-ButtonGroup--segmented .Polaris-ButtonGroup__Item {
  flex: 1;
}

.delivery-count {
  font-size: 24px;
  margin-bottom: 2rem;
  text-align: center;
  display: inline-block;
  padding-right: 10px;
}

.delivery-count:last-of-type {
  border-left: 1px solid #B3BCF5;
  padding-left: 10px;
  padding-right: 0px;
}

.pickup-count {
  font-size: 24px;
  padding: 10px 0;
  border-top: 1px solid #B3BCF5;
  border-bottom: 1px solid #B3BCF5;
  margin-bottom: 2rem;
  text-align: center;
}

.delivery-count .Polaris-Link, .pickup-count .Polaris-Link {
  font-size: 13px;
}

.delivery-time {
  margin-top: 10px;
  font-size: 15px;
}

.counts .count-content {
  font-size: 2.8rem;
  line-height: 3.2rem;
  padding: 10px 0;
  font-weight: 500;
}

.Polaris-Card__Section .Polaris-Card__Section {
  padding: 1rem;
}

.spreadsheet .Polaris-Heading:last-of-type {
  margin-bottom: 10px;
}

/* Bundle Editor */
.resource-badge {
  max-width: 500px;
}
.bundle-input {
  display: inline-flex;
  max-width: 297px;
  align-items: flex-end;
}

/* Settings */
/* TODO: be more specific with this styling */
.bamboo-settings .Polaris-ChoiceList__Choices li {
  display: inline-block;
  padding: 5px;
}

.bamboo-settings .Polaris-ResourceList__AttributeTwo {
  width: 400px;
}

.bamboo-settings .Polaris-ResourceList__Item--persistActions .Polaris-ResourceList__AttributeThree {
  width: 100%;
}

/* OrderList */
.bamboo-orderList .Polaris-ResourceList__Container {
  pointer-events: auto;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table {
  width: 100%; }
  table tbody tr:nth-child(odd) {
    background: #fafbfc; }
  table tbody tr:last-child td {
    border-bottom-width: 0; }
  table th,
  table td {
    padding: 1.2rem 1.5rem;
    text-align: left; }
  table th {
    font-weight: normal;
    border-bottom: .1rem solid #d3dbe2; }
    table th:hover {
      cursor: pointer; }
    table th:empty:hover {
      cursor: default; }
  table td .icon-image {
    float: left;
    display: inline-block;
    min-width: 2.4rem;
    min-height: 2.4rem; }
    table td .icon-image:after {
      min-width: 2.4rem;
      min-height: 2.4rem;
      background-size: 24px 24px;
      /* IE requires pixels. Using cover/contain/rem values cause blurry edges */
      vertical-align: middle;
      display: inline-block; }
  table.results tr td {
    padding-top: .8rem;
    padding-bottom: .8rem; }
  table.summary th {
    padding: 0 0 2.0rem 0;
    border: 0;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase; }
    table.summary th:hover {
      cursor: auto;
      background-color: transparent;
      color: inherit; }
    table.summary th span {
      float: right;
      color: #707070;
      text-transform: none;
      font-weight: 300; }
  table.summary tr:hover {
    background-color: transparent; }
  table.summary tr td {
    padding: .4rem 0;
    border: 0; }
    table.summary tr td:first-child {
      width: 67%; }
    table.summary tr td:last-child {
      text-align: right;
      color: #95a7b7; }
