/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Body */
html body {
  background-color: #e9ebee;
}
/* Navigation */
.Navigation__Bamboo {
  background: #f4f6f8;
  width: 100vw;
  left: -3.2rem;
  position: relative;
  padding-left: 3.2rem;
}
.bamboo-nav {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}
.Polaris-Layout .Polaris-Layout__Section:first-child {
  margin-top: 0;
}
.Navigation__Bamboo .Polaris-Tabs__Tab {
  color: #637381;
}
.Navigation__Bamboo .Polaris-Tabs__Tab:visited {
  color: #637381;
}
.Navigation__Bamboo .Polaris-Tabs__Tab.Polaris-Tabs__Tab--selected {
  color: #212b36;
}
.Navigation__Bamboo .Polaris-Tabs__Title {
  padding: 2rem 0 1rem;
  font-weight: 400;
}
.Navigation__Bamboo .Polaris-Tabs__Tab:hover .Polaris-Tabs__Title {
  font-weight: 400;
  color: #212b36;
}
.Navigation__Bamboo div:first-of-type {
  position: relative;
}
.Navigation__Bamboo .Polaris-Tabs__Panel {
  position: absolute;
  right: 3.2rem;
  top: 0;
}
.Polaris-PositionedOverlay {
  z-index: 400 !important;
}


/* Dashboard */
.bamboo-dashboard .Polaris-Heading {
  margin-bottom: 20px;
  color: #637381;
}
.bamboo-dashboard .Polaris-Layout__Section {
  margin-top: 6rem;
}
.upcomingSubscriptions .Polaris-ResourceList__AttributeOne, .upcomingSubscriptions .Polaris-ResourceList__AttributeTwo {
  flex: 0.4;
}
.upcomingSubscriptions thead tr {
  display: flex;
  cursor: default;
}
.upcomingSubscriptions thead tr th {
  flex: 1;
  cursor: default;
}
.pendingShippingOrders .Polaris-ResourceList__AttributeOne, .pendingShippingOrders .Polaris-ResourceList__AttributeTwo {
  flex: 0.36;
}
.pendingShippingOrders .Polaris-ResourceList__Badge {
  flex: 0.28;
}
.pendingShippingOrders .Polaris-ResourceList__AttributeThree {
  flex: 0.2;
}
.pendingShippingOrders thead tr {
  display: flex;
  cursor: default;
}
.pendingShippingOrders thead tr th {
  flex: 1;
  cursor: default;
}

.dashboard-card-primary .Polaris-Card, .pendingShippingOrders .Polaris-Card {
  color: #000;
  height: 124px;
  margin-bottom: 1.5rem;
  min-width: 200px;
}

.dashboard-card-primary .Polaris-Card--subdued {
  background-color: #d7dce0;
}

.date {
  width: 150px;
}
.date h5 {
  text-align: left;
  font-size: 24px;
}
.date h5:first-of-type {
  font-size: 1.3rem;
  padding: 4px 0;
  color: #343434;
  text-transform: uppercase;
}

.date h5:last-of-type {
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 15px;
  padding-bottom: 10px;
}

.revenue h5 {
  font-size: 24px;
  color: #173630;
}

.delivery-wrapper .Polaris-Heading, .count-block .Polaris-Heading {
  font-size: 1.3rem;
  text-align: left;
  color: #919eab;
  text-transform: uppercase;
}

.delivery-wrapper .Polaris-Link:hover .Polaris-Heading {
  color: #5c6ac4;
}
.delivery-wrapper .Polaris-Link .Polaris-Card {
  border: 2px solid transparent;
}
.delivery-wrapper .Polaris-Link:hover .Polaris-Card {
  border: 2px solid #5c6ac4;
}
.delivery-wrapper .Polaris-Link .Polaris-Card__Section {
  padding-top: 0;
}

.spreadsheet .time-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.spreadsheet .time-button .Polaris-Heading {
  margin-right: 40px;
}
.spreadsheet .time-button:last-of-type {
  margin-top: 10px;
}

.spreadsheet .time-button.morning .Polaris-Button{
  background-color: #FFEA8A;
}
.spreadsheet .time-button.afternoon .Polaris-Button{
  background-color: #B3BCF5;
}

.delivery-wrapper .Polaris-ButtonGroup--segmented .Polaris-ButtonGroup__Item {
  flex: 1;
}
.count-block {
  display: table;
}
.count-icon {
  display: table-cell;
  background-color: #007ACE;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 50px;
  vertical-align: middle;
  padding-bottom: 5px;
  text-align: center;
}
.count-icon img {
  transform: scale(0.5);
}
.count-block .Polaris-Card {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.count-revenue {
  display: inline-flex;
}
.count-revenue div {
  padding: 0px;
}
.count-revenue div h5 {
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 1px;
}

div.pickup-count {
  font-size: 24px;
  text-align: center;
  padding-right: 40px;
}

.delivery-count .Polaris-Link, .pickup-count .Polaris-Link {
  font-size: 13px;
}

.delivery-time {
  margin-top: 10px;
  font-size: 15px;
}

.counts .count-content {
  font-size: 2.2rem;
  min-width: 200px;
  font-weight: 500;
}

.Polaris-Card__Section .Polaris-Card__Section {
  padding: 1rem;
}

.spreadsheet .Polaris-Heading:last-of-type {
  margin-bottom: 10px;
}

/* Bundle Editor */
.resource-badge {
  max-width: 500px;
}
.bundle-input {
  display: inline-flex;
  max-width: 297px;
  align-items: flex-end;
}

/* Settings */
/* TODO: be more specific with this styling */
.bamboo-settings .Polaris-ChoiceList__Choices li {
  display: inline-block;
  padding: 5px;
}

.bamboo-settings .Polaris-ResourceList__AttributeTwo {
  width: 400px;
}

.bamboo-settings .Polaris-ResourceList__Item--persistActions .Polaris-ResourceList__AttributeThree {
  width: 100%;
}

.postalCodes .Polaris-Tag {
  min-width: 100px;
  justify-content: space-between;
}

/* OrderList */
.bamboo-orderList .Polaris-ResourceList__Container {
  pointer-events: auto;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table {
  width: 100%; }
  table tbody tr:nth-child(odd) {
    background: #fafbfc; }
  table tbody tr:last-child td {
    border-bottom-width: 0; }
  table th,
  table td {
    padding: 1.2rem 1.5rem;
    text-align: left; }
  table th {
    font-weight: normal;
    border-bottom: .1rem solid #d3dbe2; }
    table th:hover {
      cursor: pointer; }
    table th:empty:hover {
      cursor: default; }
  table td .icon-image {
    float: left;
    display: inline-block;
    min-width: 2.4rem;
    min-height: 2.4rem; }
    table td .icon-image:after {
      min-width: 2.4rem;
      min-height: 2.4rem;
      background-size: 24px 24px;
      /* IE requires pixels. Using cover/contain/rem values cause blurry edges */
      vertical-align: middle;
      display: inline-block; }
  table.results tr td {
    padding-top: .8rem;
    padding-bottom: .8rem; }
  table.summary th {
    padding: 0 0 2.0rem 0;
    border: 0;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase; }
    table.summary th:hover {
      cursor: auto;
      background-color: transparent;
      color: inherit; }
    table.summary th span {
      float: right;
      color: #707070;
      text-transform: none;
      font-weight: 300; }
  table.summary tr:hover {
    background-color: transparent; }
  table.summary tr td {
    padding: .4rem 0;
    border: 0; }
    table.summary tr td:first-child {
      width: 67%; }
    table.summary tr td:last-child {
      text-align: right;
      color: #95a7b7; }
